# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
server/node_modules/
webapp/node_modules/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Build output
dist/
build/

# Misc
*.tgz
.idea/
.vscode/ 