.root {
	width: 100%;
}

.messageBox {
	width: 100%;
	padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
	border-radius: var(--mantine-radius-md);
	border-top-left-radius: 0;
	padding-bottom: 0;
} 