.root {
	width: 100%;
}

.messageBox {
	background-color: var(--mantine-color-gray-1);
	color: var(--mantine-color-dark);
	padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
	border-radius: var(--mantine-radius-md);
} 